<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/partly_cloudy.png">
    </link>
    <link rel="stylesheet" href="./css/style.css">
    </link>
    <script src="/js/app.js"></script>
    <title>404</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMessage}}
    </div>
    {{>footer}}
</body>

</html>