<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="/img/partly_cloudy.png"></link>
        <link rel="stylesheet" href="./css/style.css"> </link>
        <title>About</title>
</head>
<body>
        <div class="main content">
                {{>header}}
                <p>This is the site was created by nagaraja. It uses data from mapbox.com and dark sky </p>
                <img class="potrit" src="/img/pubg.jpg">
        <p>{{name}}</p>

        </div>
        {{>footer}}
</body>
</html>